<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="#"><img
                        src="https://www.regardhotel.com/wp-content/uploads/2019/07/regard-hotel-logo.png"
                        width="100"></a>
                <p class="pt-3 text-justify">Donec porta diam eu massa. Quisque diam
                    lorem, interdum vitae, dapibus ac, scelerisque
                    vitae, pede. Donec eget tellus non erat lacinia
                    fermentum. Donec in velit vel ipsum auctor
                    pulvinar. Vestibulum iaculis lacinia est.</p>
            </div>
            <div class="col-md-4">
                <h3>Links</h3>
                <ul class="links">
                    <li><a>Home</a></li>
                    <li><a>Menu</a></li>
                    <li><a>Events</a></li>
                    <li><a>Blog</a></li>
                    <li><a>Reservations</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Follow us on social media</h3>
                <ul class="social-links">
                    <li><a><img src="/images/icon/facebook.png"></a></li>
                    <li><a><img src="/images/icon/twitter.png"></a></li>
                    <li><a><img src="/images/icon/instagram.png"></a></li>
                    <li><a><img src="/images/icon/youtube.png"></a></li>
                    <li><a><img src="/images/icon/linkedin.png"></a></li>
                </ul>
                <div class="pt-3">
                    <input type="text" placeholder="Enter Your Email Address" class="form-control rounded-0">
                </div>
            </div>
        </div>
        <div class="text-center mt-5">Copyright © <%- new Date().getFullYear()%> Dynamite Technology Pvt. Ltd.
            All Rights Reserved.</div>
    </div>
</footer>